<html>
    <head>
        <title>Diana's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Diana's Blog</a></h1>
        </div>

        <div>
            <p>published: 22.09.2016, 14:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my 1st post.</p>
        </div>

        <div>
            <p>published: 22.09.2016, 15:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my 2nd post. yay! .</p>
        </div>
    </body>
</html>